main > div.section3 {
  width: 100%;
  height: 330px;
  background-color: #121212;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Start title */
main > div.section3 > div.title-sec3 {
  width: 90%;
  height: 22px;
  margin-top: 40px;
  border-radius: 2px;
  border-left: 4px solid #f5c518;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 5px;
}

main > div.section3 > div.title-sec3 > h3 {
  width: fit-content;
  padding-left: 10px;
  font-family: Roboto-Regular;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

main > div.section3 > div.title-sec3 > svg {
  align-self: center !important;
}
/* End title */

/* Start swiper 3 */
main > div.section3 > div.Swiper3 {
  width: 100%;
  height: 224px;
  background-color: #121212;
  padding: 0 10px;
}

main > div.section3 > div.Swiper3 div.swiper-slide {
  width: 46%;
  height: 210px;
  background-color: #121212;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.daddy {
  width: 100%;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.daddy > img {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  object-fit: cover;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.top {
  width: 100%;
  height: 18px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Roboto-Regular;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.top > div.son {
  margin-right: 3px;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.top > div.girl {
  width: 40%;
  display: flex;
  flex-direction: row;
  color: #ffffffb3 !important;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.top > div.girl > span {
  width: 100%;
  display: flex;
  flex-direction: row;
}

main
  > div.section3
  > div.Swiper3
  div.swiper-slide
  > div.top
  > div.girl
  > span
  > svg {
  box-sizing: content-box;
  margin-right: -2%;
  margin-left: -2%;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.bott {
  width: 100%;
  height: fit-content;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: start;
}

main > div.section3 > div.Swiper3 div.swiper-slide > div.bott > span {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #fff;
}
/* End swiper 3 */
main > div.section3 > div.topic {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
main > div.section3 > div.topic > div.topic1 {
  margin-left: 3%;
  color: #f5c518;
}
main > div.section3 > div.topic > div.topic2 {
  margin-left: 27%;
  color: #f5c518;
}
