main>div.section10{
   width: 1280px;
   height: 380px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Start title part */
main>div.section10>div.explore{
   width: 100%;
   height: 70px;
   padding: 0 25px;
   display: flex;
   justify-content: left;
   align-items: center;
}

main>div.section10>div.explore>h3{
   margin-top: 5px;
   font-family: Roboto-Regular;
   font-size: 28px;
   font-weight: 600;
   color: #f5c518;
}
/* End title part */

/* Start main part */
main>div.section10>div.sugardad{
   width: 100%;
   height: 300px;
   background-color: #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

main>div.section10>div.sugardad>div.office{
   width: 100%;
   height: 50px;
   padding: 0 20px;
   margin-top: 25px;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

main>div.section10>div.sugardad>div.office>h3{
   border-left: 4px solid #f5c518;
   border-radius: 2px;
   margin-bottom: 0;
   padding-left: 7px;
   font-family: Roboto-Regular;
   font-size: 22px;
   font-weight: 600;
   color: #fff;
   letter-spacing: 1px;
}

main>div.section10>div.sugardad>div.office>span{
   font-family: Roboto-Regular;
   font-size: 16px;
   font-weight: 500;
   color: #ffffffb3;
   letter-spacing: 1px;
}

main>div.section10>div.sugardad>div.list{
   width: 100%;
   height: 220px;
   padding:  0 20px;
   background-color: #000;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

main>div.section10>div.sugardad>div.list>div.babe{
   width: 5 0%;
   height: 66px;
   background-color: #000;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 15px;
}

main>div.section10>div.sugardad>div.list>div.babe>div.left{
   width: 6%;
   height: 20px;
   border-right: 1px solid #f5c518;
   display: flex;
   justify-content: left;
   align-items: center;
}

main>div.section10>div.sugardad>div.list>div.babe>div.left>span{
   font-size: 16px;
   color: #fff;
}

main>div.section10>div.sugardad>div.list>div.babe>div.mid{
   width: 10%;
   height: 45px;
   position: relative;
   display: flex;
   justify-content: center;
}

main>div.section10>div.sugardad>div.list>div.babe>div.mid>svg:nth-of-type(1){
   opacity: 0.3 !important;
   box-sizing: content-box;
}

main>div.section10>div.sugardad>div.list>div.babe>div.mid>svg:nth-of-type(2){
  box-sizing: content-box;
  z-index: 1;
  position: absolute;
  color: #fff !important;
  margin-top: 5px;
}

main>div.section10>div.sugardad>div.list>div.babe>div.right{
   width: 70%;
   height: 45px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

main>div.section10>div.sugardad>div.list>div.babe>div.right>div.kid{
   width: 100%;
   height: 46%;
   font-family: Roboto-Regular;
   letter-spacing: 1px;
}

main>div.section10>div.sugardad>div.list>div.babe>div.right>div.kid:nth-of-type(1){
   font-size: 16px;
   color: #fff;
}

main>div.section10>div.sugardad>div.list>div.babe>div.right>div.kid:nth-of-type(2){
   font-size: 12px;
   font-weight: 600;
   color: #FFFFFFB3;
   letter-spacing: 2px;
}
/* End main part */