main>div.section15{
   width: 100%;
   height: 94px;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

main>div.section15>h3{
   width: 91%;
   font-family: Roboto-Regular;
   font-size: 22px;
   font-weight: 600;
   color: #fff;
}

main>div.section15>span{
   width: 91%;
   font-size: 16px;
   color: #fff;
}